<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RPServlet</servlet-name>
        <servlet-class>com.hudatrans.caniksea.controller.RPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginView</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ProcessRegistration</servlet-name>
        <jsp-file>/process_reg.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ExistingBeneficiary</servlet-name>
        <jsp-file>/existing_beneficiary.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddBeneficiaryView</servlet-name>
        <jsp-file>/add_beneficiary.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddBeneficiary</servlet-name>
        <jsp-file>/handle_addBeneficiary.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <jsp-file>/handle_login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MakePayment</servlet-name>
        <jsp-file>/add_sales.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <jsp-file>/dashboard.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Landing/Index Page</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RPServlet</servlet-name>
        <url-pattern>/rps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginView</servlet-name>
        <url-pattern>/identifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/registrate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessRegistration</servlet-name>
        <url-pattern>/handle_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExistingBeneficiary</servlet-name>
        <url-pattern>/select_beneficiary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBeneficiaryView</servlet-name>
        <url-pattern>/fi_beneficiario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBeneficiary</servlet-name>
        <url-pattern>/tinyeuru</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/ensaluti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePayment</servlet-name>
        <url-pattern>/pagbabayad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/arbel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Landing/Index Page</servlet-name>
        <url-pattern>/indizea</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>indizea</welcome-file>
    </welcome-file-list>
</web-app>
