.mta-widget-container {
    position: relative;
    max-width: 550px;
    margin: 0 auto;
    background: rgba(255, 255, 255, .93)!important;
    padding: 40px;
    margin-top: 26px;
    padding-bottom: 7px;
    border-radius: 10px;
    box-sizing: border-box;
}

.mta-widget-container2 {
    position: relative; 
    margin: 0 auto;
    background: rgba(255, 255, 255, .93)!important;
    padding: 40px;
    margin-top: 26px;
    padding-bottom: 7px;
    border-radius: 10px;
    box-sizing: border-box;
}

.mta-widget-container * {
    box-sizing: border-box;
}

.mta-widget-container label {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #999999;
}

.flag-container {
    margin-bottom: 25px;
}

.destination-country-container {
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
}

#destination-countries,
.mta-widget-container .delivery-method-select,
.mta-widget-container .widget-top,
.mta-widget-container .widget-bottom {
    background-color: #fff !important;
    height: 61px !important;
    border-color: transparent;
    margin-top: 0px;
    margin-right: -2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 18px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
}

.mta-widget-container .delivery-method-select {
    padding: 0 50px 0 20px !important;
}

.widget-top,
.widget-bottom {
    padding: 0;
    position: relative;
    margin-bottom: 25px;
}

.widget-top input,
.widget-bottom input {
    outline: none;
    color: #292929;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 32px;
    padding: 0 150px 0 20px;
}

.widget-top select,
.widget-bottom select {
    outline: none;
    font-size: 20px;
    color: #bbbbbb;
    font-weight: light;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    border-left: 1px solid #E5E5E5;
    border-radius: 0;
    width: 100%;
    max-width: 90px;
    padding-left: 15px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

@media screen and (min-width:600px) {
    .widget-top select,
    .widget-bottom select {
        max-width: 150px;
        padding-left: 50px;
    }
}

.select2-selection.select2-selection--single {
    position: relative;
    height: 61px;
    background-color: #fff !important;
    border-color: transparent;
    outline: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
}

.select2-selection__rendered {
    line-height: 61px !important;
    font-size: 18px;
    font-weight: normal;
}

.select2-results__option img,
.select2-selection__rendered img {
    top: 50%;
    position: absolute;
    margin-top: -16px;
    left: 15px;
}

.select2-results__option .text,
.select2-selection__rendered .text {
    padding-left: 50px;
}

.select2-results__option .text {
    line-height: 45px;
}

.select2-selection__placeholder {
    padding-left: 10px;
    color: #7F7F7F !important;
}

.select2-selection__arrow b {
    display: none;
}

.widget-top:after,
.widget-bottom:after,
.select-container:after,
.select2-selection__arrow:after {
    content: '\f107';
    font-family: "FontAwesome";
    color: #bbbbbb;
    font-size: 18px;
    top: 60%;
    right: 15px;
    position: absolute;
}

.widget-top:after,
.widget-bottom:after,
.select-container:after {
    top: 50%;
    margin-top: -12px;
    right: 16px;
}

.select2-dropdown {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
}

.select2-search__field {
    outline: none;
}

.select2-results__option {
    position: relative;
    height: 45px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #0E9FB5 !important;
    color: white !important;
}

.select2-results__option--highlighted[aria-selected] {
    background-color: #F7F8F9 !important;
    color: #35C34E !important;
}

.select2-results__option--highlighted {
    background-color: #0C9FB5 !important;
}

.select-container {
    position: relative;
    margin-bottom: 25px;
}

.additional-info {
    font-size: 24px;
    color: #000;
}

.info-cell {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

@media screen and (min-width:600px) {
    .info-cell {
        width: 32.5%;
    }
}

.details-container {
    text-align: center;
}

.button-label {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button-send {
    display: inline-block;
    width: 100%;
    border-radius: 100px;
    background: #3DC154;
    color: white !important;
    transition: box-shadow .3s ease-in-out;
    height: 48px;
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: 48px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 25px 0;
    font-weight: bold;
    box-shadow: 0px 0px 0px 0px rgba(61, 193, 84, 0.38);
}

.button-send:hover {
    box-shadow: 0px 0px 21px 0px rgba(61, 193, 84, 0.45);
}

.input-container {
    margin: 0 0 20px 0;
}

.input-container input {
    width: 100%;
    outline: 0;
    resize: none;
    box-sizing: border-box;
    height: 49px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.phone {
    text-align: left;
    margin-bottom: 25px;
}

.phone .phone-code,
.phone .phone-number {
    width: 30%;
    outline: 0;
    resize: none;
    box-sizing: border-box;
    height: 49px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
}

.phone .phone-number {
    width: 69% !important;
}

.button-facebook {
    color: #ffffff;
    border-color: #39579A;
    margin: 0px 0px 20px;
    border-radius: 1px;
    background-color: #39579A;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    width: 100%;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 2px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    position: relative;
    font-weight: 600;
}

.facebook-icon:before {
    content: "\f09a";
    font-family: FontAwesome;
    position: absolute;
    left: 15px;
    font-size: 22px;
    font-weight: 500;
}

.button-google {
    color: #ffffff;
    border-color: #DF4A32;
    margin: 0px 0px 20px;
    border-radius: 1px;
    background-color: #DF4A32;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    width: 100%;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 2px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    position: relative;
    font-weight: 600;
}

.button-google:hover,
.button-facebook:hover,
.button-google:focus,
.button-facebook:focus {
    color: #F0F0F0;
}

.google-icon:before {
    content: "\f1a0";
    font-family: FontAwesome;
    position: absolute;
    left: 15px;
    font-weight: 500;
    font-size: 22px;
}

.spacer-or {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 15px 0px;
}

.spacer-or:before {
    border-top: 1px solid #EEEEEE;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.spacer-or span {
    background: #fff;
    padding: 0 15px;
}

.button-submit {
    color: #ffffff;
    border-color: #1f9fb4;
    margin: 0px 0px 20px;
    border-radius: 1px;
    background-color: #1f9fb4;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    width: 100%;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 2px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    position: relative;
    font-weight: 600;
}

.button-submit:hover,
.button-submit:focus {
    color: #fff;
    background-color: #1C8A9C;
    border-color: #1C8A9C;
}

.required-label {
    display: none;
}

.msg {
    /*display: none;*/
    border: 2px solid;
    border-radius: 2px;
    padding: 10px 0;
    margin-bottom: 25px;
}

.msg-error {
    border-color: #d60808;
    color: #d60808;
}

.msg-success {
    border-color: #35C34E;
    color: #35C34E;
}
